In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [2]:
spark.sparkContext

 https://github.com/apache/spark/blob/d492cc5a21cd67b3999b85d97f5c41c3734b1ba3/python/pyspark/sql/session.py

In [3]:
spark._wrapped

In [6]:
! ls -al

total 341848
drwxr-xr-x  12 lisurprise  staff        408  7 19 13:19 .
drwxr-xr-x  10 lisurprise  staff        340  7 18 13:08 ..
-rw-r--r--@  1 lisurprise  staff      10244  7 19 09:48 .DS_Store
drwxr-xr-x   7 lisurprise  staff        238  7 19 09:28 .ipynb_checkpoints
-rw-r--r--   1 lisurprise  staff       9260  7 19 13:19 SparkSession_sql.ipynb
-rw-r--r--@  1 lisurprise  staff  167813770  7 17 20:03 access_log_Aug95
-rw-r--r--   1 lisurprise  staff    1288154  7 18 14:04 cs105x_lab1a_spark_tutorial.ipynb
-rw-r--r--   1 lisurprise  staff      27142  7 19 10:11 cs105x_lab1b_word_count.ipynb
-rw-r--r--   1 lisurprise  staff     243010  7 19 11:13 cs105x_lab2_apache_log.ipynb
-rw-r--r--   1 lisurprise  staff      25258  7 19 09:28 cs120_lab1b_word_count_rdd.ipynb
-rw-rw-rw-   1 lisurprise  staff    5589917  8 29  2014 shakespeare_100.txt
drwxr-xr-x   2 lisurprise  staff         68  7 17 19:58 spark-warehouse

In [7]:
#df = spark.read.json("examples/src/main/resources/people.json")
df = spark.read.json("/Users/lisurprise/zhichao/bin/god/fudan/lib/spark-2.0.2-bin-hadoop2.7/examples/src/main/resources/people.json")

In [8]:
type(df)

pyspark.sql.dataframe.DataFrame

In [9]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [10]:
# spark, df are from the previous example
# Print the schema in a tree format
df.printSchema()
# root
# |-- age: long (nullable = true)
# |-- name: string (nullable = true)

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [11]:

# Select only the "name" column
df.select("name").show()
# +-------+
# |   name|
# +-------+
# |Michael|
# |   Andy|
# | Justin|
# +-------+

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [12]:

# Select everybody, but increment the age by 1
df.select(df['name'], df['age'] + 1).show()
# +-------+---------+
# |   name|(age + 1)|
# +-------+---------+
# |Michael|     null|
# |   Andy|       31|
# | Justin|       20|
# +-------+---------+

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     null|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [13]:

# Select people older than 21
df.filter(df['age'] > 21).show()
# +---+----+
# |age|name|
# +---+----+
# | 30|Andy|
# +---+----+

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [14]:

# Count people by age
df.groupBy("age").count().show()
# +----+-----+
# | age|count|
# +----+-----+
# |  19|    1|
# |null|    1|
# |  30|    1|
# +----+-----+

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|null|    1|
|  30|    1|
+----+-----+